* {
    margin: 0;
  }

header {
    display: flex;
    align-items: center;
    padding: 10px;  
    background-color:#3A28A7;
}

header img {
    margin-right:0px;  
    height: 110px;
}

header h1 {
    color:aliceblue;
    margin: 20px;;
    font-size: 3em;
   
}

body {
    background-color:#5e44f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.search{
    float:right;
    margin-top:10px;
    margin-right: 100px;
    height:385px;
    width:310px;
    border:1px solid  black;
    border-radius: 20px;
    background-color:  #8573ed;
}

#searchbar{
    margin-left: 5px;
    width:250px;
    height:30px;
    border-radius:10px;
    margin-top: 10px;
    border-color: #000000;
    font-size: 20px;
}
#ok-btn{
    margin-left: 5px;
    height:30px;
    border-radius:10px;
    margin-top: 10px;
    border-color: #000000;
    font-size: 20px;
}
#dropdown{
    margin-left: 5px;
    width:300px;
    height:30px;
    border-radius:10px;
    margin-top: 5px;
    border-color: #5e44f0;
    font-size: 20px;
}
.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: repeat(2,auto);
    gap:20px;
    margin-left: 50px;
    margin-top:60px;

}

.home-page-quiz{
    color: aliceblue;
    height:180px;
    width:180px;
    border:1px solid black;
    margin:5px;
    text-align: center;
    background-color: #8573ed;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

footer{
    display: flex;
    align-items: center;
    padding: 30px;  
    margin-top: 60px;
    background-color: #3A28A7;
    height:90px;
}

.img{
    height:130px;
    width:130px;
    border-radius: 20px;
    margin-bottom: 5px;
}